<div class="content">
<h1>Bloccitoff</h1>
<p>Getting things done, one click at a time</p>
<div class="welcome">
<h2>Welcome</h2>
<p>In the spirit of setting goals and accomplishing those goals in a timely manner, 
we created Bloccitoff.</p>
<p>A list creating system that will keep you on track to complete all of your short term goals.</p>
<p>Membership is free so please sign up for an account today.</p>
 <%= link_to "Sign Up", new_user_path %>
 <%= link_to "Log In", login_path %>
 </div>
</div>


